[submodule "Android/ykneo-openpgp"]
	path = Android/ykneo-openpgp
	url = https://github.com/Yubico/ykneo-openpgp
[submodule "encrypting-cloud-storages"]
	path = encrypting-cloud-storages
	url = https://github.com/eriknellessen/encrypting-cloud-storages.git
	branch = user-controlled-decryption-operations
[submodule "Android/jcardsim"]
	path = Android/jcardsim
	url = https://github.com/eriknellessen/jcardsim.git
